---


import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';

import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';


---

<BaseLayout
	title="My Work | Kieran Shalloo"
	description="Learn about Kieran Shalloo's most recent projects"
>
	<div class="gap-20">
		<main class="wrapper 	gap-8">
			<Hero
				title="My Work"
				tagline="See my most recent projects below to get an idea of my past experience."
				align="start"
			/>

			<div class="grid-container">
				<div class="grid-item">1</div>
				<div class="grid-item">2</div>
				<div class="grid-item">3</div>
				<div class="grid-item">4</div>
				<div class="grid-item">5</div>
				<div class="grid-item">6</div>
				<div class="grid-item">7</div>
				<div class="grid-item">8</div>
				<div class="grid-item">9</div>
			  </div>

				  <div class="mt-4 text-center">
					<h2 class="text-lg text-gray-800">
ss
					</h2>
					<h3 class="text-sm text-slate-500">
dsc
					</h3>
				  </div>
				</div>
			  ))
			}


</main>
<ContactCTA />
</div>
</BaseLayout>